:root {
    --fuenteHeading: 'Poiret One', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #2C3E50;
    --azul_claro: #B9CCE2;
    --hover-nav: linear-gradient(135deg, #B9CCE2 0%, #D6DDE3 100%);
    --blanco: #FAF7F3;
    --blanco-rgb: rgba(255, 255, 255, 0.75);
    --nar-contrAzClaro: #6F442D;
    --nar-contrBlanco: #9C6243;
    --nar-contrAzul: #F29B72; 
    --verde: #a1c15c;
}

html {
    box-sizing: border-box;
    font-size:  62.5%; /* Para que 1rem = 10px */
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    background-color: var(--blanco);
}


/* Globales */
a { text-decoration: none; }

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    margin: 0;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.5rem; }

.header, .contenedor, .footer {
    text-align: center;
    margin: 0;
}

.boton {
    border: none;
    background-color: var(--nar-contrAzul);
    border: 3px solid var(--nar-contrBlanco);
    border-radius: 5%;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.boton:hover {
    background-color: var(--nar-contrBlanco);
    color: var(--blanco);
    border: 3px solid #704730;
}

.servicios h2, .nosotros h2 {
    padding: 5rem 0;
}


/* Utilidades */
.display-block {
    display: block;
}

.centrar-texto {
    text-align: center;
}

.espacio-campos {
    margin-bottom: 1rem;
}

.profesional-color {
    background-color: var(--azul_claro);
}

.globales_proyecto {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Header y Navegación */
.logo { 
    color: var(--nar-contrBlanco);
    font-weight: bold;
}

.logo span { font-size: 2.8rem; color: var(--primario); }

.h3__contacto {
    margin: 2rem;
}

.cabecera__formulario p {
    margin: 0 auto 4rem auto;
}

.barra {
    background-color: var(--blanco);
}

.navegacion {
    margin: 3rem auto 0 auto;
}

.navegacion__boton {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--primario);
    transition: background 0.3s ease;
}

.navegacion__boton:hover {
    background: var(--hover-nav);
}

.navegacion__enlace:active, .navegacion__enlace:visited {
    color: (var(--primario));
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3rem;
    }

    .navegacion__enlace {
        width: 100%;
    }
}


/* Footer */
.footer .barra {
    background-color: var(--primario);
}

.footer .navegacion__enlace {
    font-size: small;
    color: var(--blanco);
    transition: color 0.5s;
}

.footer .navegacion__enlace:hover {
    color: var(--nar-contrAzul);
}

.logo img {
    margin-top: 1rem;
    width: 100px;
}

.footer .navegacion {
    padding-bottom: 1rem;
}

.footer .navegacion {
    margin-top: 0rem;
}


/* PAG. INDEX - Presentación */
.presentation {
    position: relative;
    background-image: url(img/bg_index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    align-content: center;
}

.cuadrado {
    width: 40%;
    height: 20%;
    background-color: var(--blanco-rgb);
    margin: auto;
    align-content: center;
    border-radius: 2%;
}

.cuadrado h4 {
    color: var(--nar-contrBlanco);
    padding-top: 1rem;
}

@media (max-width: 539px) {
    .cuadrado h3, h4 {
        font-size: large;
        font-weight: bold;
    }

    .cuadrado {
        min-width: 180px;
        min-height: 126px;
    }

    .presentation {
        min-height: 100vh;
    }
}


/* PAG. INDEX - Proyecto */
.proyecto {
    width: 90%;
    margin: auto;
}

.proyecto h2 {
    margin: 6rem auto 4rem auto;
    color: var(--primario);
}

.objetivo {
    width: 70%;
    margin: auto;
    font-style: italic;
}

.objetivo:last-of-type {
    margin-bottom: 4rem;
}

.proyecto h4 {
    color: var(--nar-contrBlanco);
}

.ejes p {
    margin: 1rem auto 2.5rem auto;
}

.ejes {
    padding: 3rem 0 6rem 0;
}

/* PAG. INDEX - Profesionales y Servicios */
.servicios {
    background-color: var(--primario);
    padding-bottom: 4rem;
}

.servicios h2 {
    color: var(--blanco);
}

.servicio__ofrecido {
    display: grid;
    grid-template-rows: repeat(3, auto);
    column-gap: 1rem;
    width: 80%;
    margin: auto;
    background-color: var(--primario);
}

.icono {
    margin: 1rem auto auto auto;
}

.servicio h4 {
    grid-row: 1;
    color: var(--nar-contrAzul);
}

.servicio .icono {
    grid-column: 1;
    grid-row: 2;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--hover-nav);
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicio p {
    grid-column: 2;
    grid-row: 2;
    color: var(--blanco);
    padding-bottom: 30px;
}

.servicio .icono svg {
    width: 60px;
    height: 60px;    
}

@media (min-width: 768px) {
    .servicio__ofrecido {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .servicio {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(2 1fr);
    }

    .servicio h4 {
        grid-row: 1;
        grid-column: 2;
    }

    .servicio .icono {
        grid-column: 1;
        grid-row: span 2;
    }

    .servicio p {
        grid-column: 2;
        grid-row: 2;
    }
}

.equipo {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1rem;
    margin: auto;
}

.profesional h4 {
    margin-bottom: 2rem;
    color: var(--nar-contrBlanco);
}

.profesional img, .servicio img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .equipo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1rem;
        width: 80%;
        margin: auto;
    }

    .profesional h4 {
        margin: 3rem auto 1rem auto;
    }
}


/* PAG. INDEX - Contacto */
.grid__contacto {
    display: block;
}

.h2__contacto {
    color: var(--blanco);
}

.metodo__contacto {
    margin-bottom: 3rem;
    width: 80%;
}

.contacto p {
    color: var(--blanco);
}

.metodo__contacto .icono svg {
    width: 30px;
    height: 30px;
    color: var(--nar-contrAzul);
}

.info__contacto {
    margin: 0px;
    padding-top: 0px;
}

@media (min-width: 768px) {
    .grid__contacto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/* PAG. PROYECTO */
.proyecto_intro {
    background-color: var(--primario);
    color: var(--blanco);
    min-height: 100vh;
}

.reclamo {
    padding: 9rem 0 4rem 0;
    color: var(--nar-contrAzul);
}

.reclamo_sub {
    width: 70%;
    margin: auto;
    font-style: italic;
    padding-bottom: 6rem;
    border-bottom: 1px solid var(--azul_claro);
}

.proyecto_intro ul {
    list-style: none;
    font-style: italic;
    padding: 3rem 0;
    line-height: 3;
}

.proyecto_intro li {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.proyecto_intro li:hover {
    background-color: var(--azul_claro);
    color: var(--primario);
}

.proyecto_intro a {
    color: inherit;
    display: block;
}

/* PAG. PROYECTO -- Sección 1  y 3*/
.seccion1_motivacion, .seccion3_ayuda {
    width: 80%;
    min-height: 100vh;
    margin: 4rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4rem;
    justify-items: center;
}

.seccion1_motivacion img {
    width: 300px;
    height: 550px;
    grid-column: 1;
}

.seccion1_motivacion img, .seccion3_ayuda img {
    width: 370px;
    height: 520px;
    grid-column: 1;
}

.seccion1_texto, .seccion3_texto {
    grid-column: 2;
    text-align: left;
}

.seccion3_texto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.seccion3_texto li {
    list-style: none;
    padding-bottom: 2rem;
}

#motivacion, #ayuda {
    padding-bottom: 2rem;
}

@media (max-width: 903px) {
    .seccion1_motivacion img, .seccion3_ayuda img {
        display: none;
    }

    .seccion1_motivacion, .seccion3_ayuda {
        margin: 6rem auto;
        display: flex;
        flex-direction: column;
    }

    .seccion1_texto, .seccion3_texto {
        text-align: center;
    }

    #motivacion, #ayuda {
        padding-bottom: 4rem;
    }
}

/* PAG. PROYECTO -- Sección 2 */
.seccion2_filosofia {
    width: 100%;
    flex-direction: column;
}

#filosofia {
    padding-top: 6rem;
}

.seccion2_contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.seccion2_filosofia img {
    width: 85%;
    height: auto;
}

.seccion2_texto {
    display: none;
    margin: 0 auto;
    text-align: left;
}

.seccion2_texto h4 {
    color: var(--nar-contrAzClaro);
}

.seccion2_texto li {
    list-style: none;
}

@media (max-width: 903px) {
    .globales_proyecto {
        min-height: auto;
        padding: 4rem 0;
    }

    .seccion2_filosofia img {
        display: none;
    }

    .seccion2_texto {
        display: block;
        width: 85%;
    }

    #filosofia {
    padding: 6rem 0 6rem 0;
    }
}

/* PAG. NOSOTROS */
#titulo__nosotros {
    background-color: var(--azul_claro);
    padding-top: 2rem;
}

.equipo {
    padding-bottom: 5rem;
}

.pag__equipo {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 4rem;
    width: 100%;
    margin: auto;
}

.profesional {
    padding: 3% 15% 3% 15%;
}

.pag__equipo .profesional h4 {
    color: var(--nar-contrAzClaro);
}

.curriculum span {
    font-weight: bold;
}

.curriculum {
    text-align: left;
}

.lema {
    text-align: center;
    font-style: italic;
    width: 60%;
    margin: 6rem auto;
}

.perfil__prof {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.perfil__prof > *:nth-child(2n) {
    border-left: 1px solid var(--primario);
    padding-left: 3rem;
}

.formacion {
    text-align: right;
}

.perfil__prof li {
    list-style: none;
    line-height: 1.5;
    margin-bottom: 1.7rem;
}

.especialidad ul {
    padding-left: 0px;
}


/* PÁG. SERVICIOS */
.contenedor_servicios {
    background-color: var(--azul_claro);
    padding: 4rem 0 0 0;
}

.catalogo_servicios {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.tarjeta_servicio {
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: 1rem;
    padding: 2rem 2.2rem;
    margin: 1rem auto 4rem auto;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    transition: transform 0.25s ease;
}

.tarjeta_servicio:hover {
    transform: translateY(-4px);
}

.tarjeta_servicio img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.servicio_lista li {
    padding-bottom: 1.5rem;
    line-height: 1.5;
}

.servicio_lista h4 {
    color: var(--nar-contrAzul);
}

@media (min-width: 768px) {
    .catalogo_servicios {
        grid-template-columns: repeat(3, 3fr);
        gap: 2.5rem;
    }
}

.contacto_servicios {
    background-color: var(--blanco);
    padding: 3rem 0;
}

.contacto_servicios_texto {
    margin: 3rem auto 6rem auto;
}

.contacto_servicios h4 {
    color: var(--nar-contrBlanco);
}


/* PAG. CONTACTO */
.contenedor {
    background-image: url(img/bg_index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h2__contacto {
    padding: 4rem 0 2rem 0;
    color: var(--blanco);
}

.h3__contacto {
    padding-top: 4rem;
    color: var(--nar-contrAzul);
}

.formulario {
    background-color: var(--blanco-rgb);
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 4rem;
    border: 5px solid var(--nar-contrBlanco);
    border-radius: 2%;
}

.contacto {
    padding-bottom: 5rem;
}

fieldset {
    border: 1px solid var(--blanco);
    border-radius: 2%;
}

.campo__field {
    height: 2rem;
    border: 1px solid var(--nar-contrBlanco);
    border-radius: 2%;
    padding: 0.3rem;
    background-color: var(--blanco);
    font-family: inherit;
}

.campo__field--provinc {
    border: 1px solid var(--nar-contrBlanco);
    background-color: var(--blanco);
    border-radius: 2%;
    padding: 0.3rem;
    font-family: inherit;
}

.espacio-campos--radio {
    margin: 0;
}

.espacio-campos--observaciones {
    margin: 2rem auto 3rem auto;
}

@media (min-width: 768px) {
    .espacio-campos--observaciones textarea {
        width: 350px;
        height: 50px;
    }

    .espacio-campos--observaciones label {
        display: inline;
    }

    .espacio-campos--radio {
        display: inline;
    }

    .direccion .display__block {
        display: inline-block;
        margin: 0.5rem;
    }

    #terminos {
        height: 2rem;
        width: 2rem;
    }
}