:root {
    --fuenteHeading: 'Poiret One', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #2C3E50;
    --azul_claro: #B9CCE2;
    --hover-nav: linear-gradient(135deg, #B9CCE2 0%, #D6DDE3 100%);
    --blanco: #FAF7F3;
    --blanco-rgb: rgba(255, 255, 255, 0.85);
    --nar-contrAzClaro: #6F442D;
    --nar-contrBlanco: #9C6243;
    --nar-contrAzul: #F29B72; 
    --verde: #a1c15c;
}

html {
    box-sizing: border-box;
    font-size:  62.5%; /* Para que 1rem = 10px */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 72px;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    background-color: var(--blanco);
}


/* Globales */
a { text-decoration: none; }

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    margin: 0;
}

h1 { font-size: 4rem; }
h2 { font-size: 3.4rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2rem; }

.formulario__contenedor { text-align: center; }

.header, .footer {
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
}

.boton {
    border: none;
    background-color: var(--nar-contrAzul);
    border: 2px solid var(--nar-contrBlanco);
    border-radius: 5%;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.boton:hover {
    background-color: var(--nar-contrBlanco);
    color: var(--blanco);
    border: 3px solid #704730;
}

section {
    min-height: 100vh;
    scroll-snap-align: start;
}


/* Utilidades */
.justificar-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centrar-texto {
    text-align: center;
}

.espacio-campos {
    margin-bottom: 1rem;
}

.profesional--color {
    background-color: var(--azul_claro);
}

.color--blanco, .color--blanco a {
    color: var(--blanco);
}


/* Header y Navegación */
.header__titulo { 
    color: var(--nar-contrBlanco);
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 0.8;
}

.header__titulo span { font-size: 2rem; color: var(--primario); }

.formulario__header p {
    margin: auto;
}

.barra {
    background-color: var(--blanco);
    padding-top: 1px;
}

.navegacion {
    border-top: 1px solid var(--primario);
    border-bottom: 1px solid var(--primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0rem;
}

.navegacion__boton {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    transition: background 0.3s ease;
}

.navegacion__enlace {
    width: 100%;
}

.navegacion__enlace p {
    display: none;
    margin: 0;
}

.navegacion__enlace svg {
    width: 25px;
    height: 25px;
    color: var(--nar-contrAzClaro);
    margin: auto;
}

.navegacion__boton:hover {
    background: var(--hover-nav);
}

.navegacion__enlace:is(:active, :visited) {
    color: var(--primario);
}

@media (min-width: 768px) {
    .navegacion__boton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
        color: var(--primario);
        transition: background 0.3s ease;
    }

    .navegacion__enlace {
        width: 100%;
    }

    .navegacion__enlace p {
        display: flex;
    }

    .navegacion__enlace svg {
        width: 30px;
        height: 30px;
        margin: 0;
    }
}


/* Footer */
.footer section {
    min-height: auto;
}

.footer .barra {
    background-color: var(--primario);
}

.footer .navegacion__enlace {
    font-size: small;
    color: var(--blanco);
    transition: color 0.5s;
}

.footer .navegacion__enlace:hover {
    color: var(--nar-contrAzul);
}

.logo img {
    margin-top: 1rem;
    width: 100px;
}

.footer .navegacion {
    padding-bottom: 1rem;
}

.footer .navegacion {
    margin-top: 0rem;
}


/* PAG. INDEX - Proyecto */
.proyecto {
    background-image: url(img/bg_index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.proyecto h2 {
    margin-bottom: 2rem auto 1rem auto;
    color: var(--primario);
}

.proyecto a {
    color: var(--nar-contrBlanco);
    font-size: larger;
}

.proyecto h1 {
    color: var(--nar-contrAzul);
    margin-bottom: 3rem;
}

.objetivos {
    display: block;
    width: 60%;
    margin: auto;
    background-color: var(--blanco-rgb);
    padding: 1rem 4rem;
    border-radius: 2%;
    font-style: italic;
    color: black;
}


/* PAG. INDEX - Ejes */
.ejes {
    display: block;
    margin: auto;
    padding: 2rem 4rem;
}

.ejes h2 {
    margin-bottom: 4rem;
    color: var(--nar-contrBlanco);
}

.ejes h3 {
    color: var(--primario);
}

.empresa__ejes p {
    margin: 0.5rem auto 2rem auto;
}

@media (max-width: 768px) {
    .ejes h2 {
        font-size: 3rem;
    }

    .ejes h3 {
        font-size: 2rem;
    }
}

/* PAG. INDEX - Servicios */
.servicios {
    background-color: var(--primario);
}
.servicios h2 {
    color: var(--blanco);
    padding: 6rem 0 1rem 0;
}

.servicio__ofrecido {
    display: block;
    width: 70%;
    margin: 1rem auto;
    background-color: var(--primario);
}

.servicio h4 {
    color: var(--nar-contrAzul);
    padding-top: 2rem;
}

.servicio__icono {
    display: none;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background: var(--hover-nav);
    justify-content: center;
    align-items: center;
}

.servicio__icono svg {
    width: 40px;
    height: 40px;
}

.servicio p {
    color: var(--blanco);
}

@media (min-width: 950px) {
    .servicio__ofrecido {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10%;
    }

    .servicio__icono {
        display: flex;
    }

    .servicios h2 {
        color: var(--blanco);
        padding: 0 0 3rem 0;
    }
}

/* PAG. INDEX - Profesionales */
.equipo h2 {
    padding-top: 7rem;
    color: var(--primario);
}

.equipo h3 {
    padding-bottom: 1rem;
    color: var(--nar-contrBlanco);
}

.profesionales {
    display: block;
    width: 80%;
    margin: auto;
}

.profesional__tarjeta {
    margin: 2rem auto;
}

.profesional__tarjeta img, .profesional img { /* + img de pág. nosotros.html*/
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media (min-width: 900px) {
    .equipo h2 {
        padding: 0 0 3rem 0;
    }

    .profesionales {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5rem;
        width: 90%;
        margin: auto;
    }

    .profesional__tarjeta {
        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: center;
        column-gap: 5rem;
    }

    .profesional__tarjeta h3 {
        grid-column: 1;
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }

    .profesional__tarjeta img {
        grid-column: 1;
      }

    .profesional__tarjeta p {
        grid-column: 2;
        text-align: left;
    }
}


/* PAG. INDEX - Contacto */
.contacto {
    background-image: url(img/bg_index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid__contacto {
    display: block;
}

.h1__contacto {
    color: var(--nar-contrAzul);
    padding: 4rem 0 3rem 0;
}

.formulario__header p {
    color: var(--blanco);
}

.contacto__titulo {
    padding: 6rem 0 2rem 0;
    color: var(--nar-contrAzul);
}

.formulario {
    background-color: var(--blanco-rgb);
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 4rem;
    border: 3px solid var(--nar-contrBlanco);
    border-radius: 2%;
}

fieldset {
    border: 2px solid var(--blanco);
    border-radius: 2%;
}

.campo__field {
    height: 1rem;
    border: 1px solid var(--nar-contrBlanco);
    border-radius: 2%;
    padding: 0.3rem;
    background-color: var(--blanco);
    font-family: inherit;
}

.campo__field--provinc {
    border: 1px solid var(--nar-contrBlanco);
    background-color: var(--blanco);
    border-radius: 2%;
    padding: 0.3rem;
    font-family: inherit;
}

.espacio-campos--radio {
    margin: 0;
}

.espacio-campos--observaciones {
    margin: 1rem auto 2rem auto;
}

@media (min-width: 768px) {
    .espacio-campos {
        display: inline-block;
        margin: 0.5rem 1rem;
    }

    .grid__contacto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .espacio-campos--observaciones textarea {
        width: 350px;
        height: 50px;
    }

    .espacio-campos--observaciones label {
        display: inline;
    }

    .espacio-campos--radio {
        display: inline;
    }

    #terminos {
        height: 2rem;
        width: 2rem;
    }
}

.metodo__contacto {
    width: 80%;
    margin: 3rem auto auto auto;
    text-align: center;
}

.icono svg {
    width: 30px;
    height: 30px;
    color: var(--nar-contrAzul);

}

.info__contacto {
    margin: auto;
    width: 70%;
}


/* PAG. PROYECTO -- Intro nav secundaria*/
.proyecto__intro {
    background-color: var(--primario);
    color: var(--blanco);
    min-height: 100vh;
}

.reclamo {
    padding: 9rem 0 4rem 0;
    color: var(--nar-contrAzul);
}

.reclamo_subtitulo {
    width: 70%;
    margin: auto;
    font-style: italic;
    padding-bottom: 6rem;
    border-bottom: 1px solid var(--azul_claro);
}

.proyecto__intro ul {
    list-style: none;
    font-style: italic;
    padding: 3rem 0;
    line-height: 3;
}

.proyecto__intro li {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.proyecto__intro li:hover {
    background-color: var(--azul_claro);
    color: var(--primario);
}

.proyecto__intro a {
    color: inherit;
    display: block;
}

/* PAG. PROYECTO -- Sección 1  y 3*/
.proyecto__motivacion {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proyecto__motivacion-contenedor, .proyecto__ayuda-contenedor {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 6rem;
    justify-items: center;
}

.proyecto__motivacion img, .proyecto__ayuda img {
    width: 370px;
    height: 520px;
    grid-column: 1;
}

.proyecto__motivacion-texto, .proyecto__ayuda-texto {
    grid-column: 2;
    text-align: left;
}

.proyecto__ayuda-texto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.proyecto__ayuda-textoo li {
    list-style: none;
    padding-bottom: 2rem;
}

#motivacion, #ayuda {
    padding-bottom: 2rem;
}

@media (max-width: 903px) {
    .proyecto__motivacion img, .proyecto__ayuda img {
        display: none;
    }

    .proyecto__motivacion, .proyecto__ayuda {
        margin: 6rem auto;
        display: flex;
        flex-direction: column;
    }

    .proyecto__motivacion-texto, .proyecto__ayuda-texto {
        text-align: center;
    }

    #motivacion, #ayuda {
        padding-bottom: 4rem;
    }
}

/* PAG. PROYECTO -- Sección 2 */
.proyecto__filosofia {
    width: 100%;
    flex-direction: column;
}

#filosofia {
    padding-top: 6rem;
}

.proyecto__filosofia-fondo {
    background-color: var(--azul_claro);
}

.proyecto__contenidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.proyecto__filosofia img {
    width: 85%;
    height: auto;
}

.proyecto__filosofia-texto {
    display: none;
    margin: 0 auto;
    text-align: left;
}

.proyecto__filosofia-texto h4 {
    color: var(--nar-contrAzClaro);
}

.proyecto__filosofia-texto li {
    list-style: none;
}

@media (max-width: 903px) {
    .proyecto__seccion {
        min-height: auto;
        padding: 4rem 0;
    }

    .proyecto__filosofia img {
        display: none;
    }

    .proyecto__filosofia-texto {
        display: block;
        width: 85%;
    }

    #filosofia {
    padding: 6rem 0 6rem 0;
    }
}

/* PAG. NOSOTROS */
#titulo__nosotros {
    background-color: var(--azul_claro);
    padding-top: 2rem;
}

.equipo {
    padding-bottom: 5rem;
}

.equipo {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 4rem;
    width: 100%;
    margin: auto;
}

.profesional {
    padding: 3% 15% 3% 15%;
}

.equipo .profesional h4 {
    color: var(--nar-contrAzClaro);
}

.curriculum span {
    font-weight: bold;
}

.curriculum {
    text-align: left;
}

.lema {
    text-align: center;
    font-style: italic;
    width: 60%;
    margin: 6rem auto;
}

.profesional__perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.profesional__perfil > *:nth-child(2n) {
    border-left: 1px solid var(--primario);
    padding-left: 3rem;
}

.formacion {
    text-align: right;
}

.profesional__perfil li {
    list-style: none;
    line-height: 1.5;
    margin-bottom: 1.7rem;
}

.especialidad ul {
    padding-left: 0px;
}


/* PÁG. SERVICIOS */
.contenedor__servicios {
    background-color: var(--primario); /* No tocar, mismo en index.html */
}

.servicios__catalogo {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.servicios__tarjeta {
    background-color: var(--blanco);
    color: var(--primario);
    border-radius: 1rem;
    padding: 2rem 2.2rem;
    margin: 1rem auto 4rem auto;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    transition: transform 0.25s ease;
}

.servicios__tarjeta:hover {
    transform: translateY(-4px);
}

.servicios__tarjeta img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.servicios__lista li {
    padding-bottom: 1.5rem;
    line-height: 1.5;
}

.servicios__lista h4 {
    padding: 3rem 0 2rem 0;
    color: var(--nar-contrAzul);
}

@media (min-width: 1038px) {
    .servicios__catalogo {
        grid-template-columns: repeat(3, 3fr);
        gap: 2.5rem;
        width: 80%;
    }

    .servicios__tarjeta {
        margin: 4rem auto;
        text-align: center;
    }

      .servicios__tarjeta ul {
        text-align: left;
    }

    .servicios__tarjetao img {
        width: 80%;
    }
}

.contacto_servicios {
    background-color: var(--blanco);
    padding: 3rem 0;
}

/*.contacto_servicios_texto {
    margin: 3rem auto 6rem auto;
}

.contacto_servicios h4 {
    color: var(--nar-contrBlanco);
    margin-top: 10rem;
}*/
