:root {
    --fuenteHeading: 'Poiret One', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #2C3E50;
    --azul_claro: #B9CCE2;
    --blanco: #FAF7F3;
    --blanco-rgb: rgba(255, 255, 255, 0.7);
    --interact: #C17C5B;
    --verde: #a1c15c;
}

html {
    box-sizing: border-box;
    font-size:  62.5%; /* Para que 1rem = 10px */
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    background-color: var(--blanco);
}


/* Globales */
a { text-decoration: none; }

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    margin: 0;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.5rem; }

.header, .contenedor, .footer {
    text-align: center;
    margin: 0;
}

.boton {
    border: none;
    background-color: var(--interact);
    border-radius: 5%;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--blanco);
}

.boton:hover {
    background-color: var(--primario);
    font-weight: bold;
}


/* Utilidades */
.display-block {
    display: block;
}

.centrar-texto {
    text-align: center;
}

.espacio-campos {
    margin-bottom: 1rem;
}


/* Header y Navegación */
.logo { 
    color: var(--interact);
    font-weight: bold;
}

.logo  span { font-size: 2.8rem; color: var(--primario); }

.h3__contacto {
    margin: 2rem;
}

.cabecera__formulario p {
    margin: 0 auto 4rem auto;
}

.barra {
    background-color: var(--blanco);
}

.navegacion {
    margin: 3rem auto 0 auto;
}

.navegacion__boton {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--primario);
}

.navegacion__boton:hover {
    background-color: var(--azul_claro);
    font-weight: bold;
}

.navegacion__enlace:active {
    color: (var(--primario));
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        justify-content:space-around;
        align-items: center;
        margin-top: 3rem;
    }

    .navegacion__boton {
        width: 100%;
    }
}


/* Footer */
.footer .barra {
    background-color: var(--primario);
}

.footer .navegacion__enlace {
    font-size: small;
    color: var(--blanco);
    transition: color 0.5s;
}

.footer .navegacion__enlace:hover {
    color: var(--interact);
}

.logo img {
    margin-top: 1rem;
    width: 100px;
}

.footer .navegacion {
    padding-bottom: 1rem;
}

.footer .navegacion {
    margin-top: 0rem;
}

/* PAG. INDEX - Presentación */
.presentation {
    position: relative;
    background-image: url(img/bg_index.png);
    width: 100%;
    height: 630px;
    align-content: center;
}

.cuadrado {
    width: 40%;
    height: 20%;
    background-color: var(--blanco-rgb);
    margin: auto;
    align-content: center;
    border-radius: 2%;
}

.cuadrado h4 {
    color: var(--primario);
    padding-top: 1rem;
}

@media (max-width: 539px) {
    .cuadrado h3, h4 {
        font-size: large;
        font-weight: bold;
    }

    .cuadrado {
        min-width: 180px;
        min-height: 126px;
    }

    .presentation {
        height: 400px;
    }
}


/* PAG. CONTACTO - Formulario */
.contenedor {
    background-image: url(img/bg_index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cabecera__formulario, .h3__contacto {
    padding-top: 2rem;
    color: var(--blanco);
}

.formulario {
    background-color: var(--blanco-rgb);
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 4rem;
    border: 5px solid var(--interact);
    border-radius: 2%;
}

.contacto {
    padding-bottom: 5rem;
}

fieldset {
    border: 1px solid var(--blanco);
    border-radius: 2%;
}

.campo__field {
    height: 2rem;
    border: 1px solid var(--interact);
    border-radius: 2%;
    padding: 0.3rem;
    background-color: var(--blanco);
    font-family: inherit;
}

.campo__field--provinc {
    border: 1px solid var(--interact);
    background-color: var(--blanco);
    border-radius: 2%;
    padding: 0.3rem;
    font-family: inherit;
}

.espacio-campos--radio {
    margin: 0;
}

.espacio-campos--observaciones {
    margin: 2rem auto 3rem auto;
}

@media (min-width: 768px) {
    .espacio-campos--observaciones textarea {
        width: 350px;
        height: 50px;
    }

    .espacio-campos--observaciones label {
        display: inline;
    }

    .espacio-campos--radio {
        display: inline;
    }

    .direccion .display__block {
        display: inline-block;
        margin: 0.5rem;
    }

    #terminos {
        height: 2rem;
        width: 2rem;
    }
}