:root {
    --fuenteHeading: 'Poiret One', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #2b3d4f;
    --azul_claro: #B9CCE2;
    --azul-tabla: #779ac2;
    --hover-nav: linear-gradient(135deg, #B9CCE2 0%, #D6DDE3 100%);
    --blanco: #FAF7F3;
    --blanco-alternativo: #F3F0EC;
    --blanco-rgb: rgba(255, 255, 255, 0.80);
    --blanco-tabla: rgba(255, 255, 255, 0.30);
    --nar-contrAzClaro: #6F442D;
    --nar-contrBlanco: #8F593D;
    --nar-contrAzul: #F29B72; 
}

html {
    box-sizing: border-box;
    font-size:  62.5%; /* Para que 1rem = 10px */
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    background-color: var(--blanco);
}


/* Globales */
a { text-decoration: none; }

p { color: black; }

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    margin: 0;
}

h1 { font-size: 4rem; }
h2 { font-size: 3.4rem; margin: 4rem auto; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2rem; }

.header {
    position: sticky;
    top: 0;
}

.boton {
    border: none;
    background-color: var(--nar-contrAzul);
    border: 2px solid var(--nar-contrBlanco);
    border-radius: 5%;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.boton:hover {
    background-color: var(--nar-contrBlanco);
    color: var(--blanco);
    border: 3px solid #704730;
}

img {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.10), 0 4px 14px rgba(0, 0, 0, 0.08);
}

/* Utilidades */
.justificar-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.margin {
    margin: 5rem auto;
}

.min-height {
    min-height: 100vh;
}

.centrar-texto {
    text-align: center;
}

.espacio-campos {
    margin-bottom: 1rem;
}

.color--blanco, .color--blanco a {
    color: var(--blanco);
}

.sombra-primario {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.10), 0 4px 14px rgba(0, 0, 0, 0.08);
}

.sombra-blanco {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.10), 0 4px 14px rgba(0, 0, 0, 0.06);
}

.sombra-azul-claro {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.10), 0 4px 14px rgba(0, 0, 0, 0.08);
}

.sombra-negra {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.45);      
}

.celda-color {
    background: var(--blanco-tabla);
}

.no-border {
    border-top: 2px solid var(--azul_claro);
    border-left: 2px solid var(--azul_claro);
}

/* Header y Navegación */
.header__titulo { 
    color: var(--nar-contrBlanco);
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 0.8;
}

.header__titulo span { font-size: 2rem; color: var(--primario); }

.formulario__header p {
    margin: auto;
}

.barra {
    background-color: var(--blanco);
    padding-top: 1px;
}

.navegacion {
    border-top: 1px solid var(--primario);
    border-bottom: 1px solid var(--primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0rem;
}

.navegacion__boton {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    transition: background 0.3s ease;
}

.navegacion__enlace {
    width: 100%;
}

.navegacion__enlace p {
    display: none;
    margin: 0;
}

.navegacion__enlace svg {
    width: 25px;
    height: 25px;
    color: var(--nar-contrAzClaro);
    margin: auto;
}

.navegacion__boton:hover {
    background: var(--hover-nav);
}

.navegacion__enlace:is(:active, :visited) {
    color: var(--primario);
}

@media (min-width: 768px) {
    .navegacion__boton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
        color: var(--primario);
        transition: background 0.3s ease;
    }

    .navegacion__enlace {
        width: 100%;
    }

    .navegacion__enlace p {
        display: flex;
    }

    .navegacion__enlace svg {
        width: 30px;
        height: 30px;
        margin: 0;
    }
}


/* Footer */
.footer .barra {
    background-color: var(--primario);
}

.footer .navegacion__enlace {
    font-size: small;
    color: var(--blanco);
    transition: color 0.5s;
}

.footer .navegacion__enlace:hover {
    color: var(--nar-contrAzul);
}

.logo img {
    margin-top: 1rem;
    width: 100px;
    box-shadow: none;
}

.footer .navegacion {
    padding-bottom: 1rem;
}

.footer .navegacion {
    margin-top: 0rem;
}


/* PAG. INDEX - Proyecto */
.proyecto {
    background-image: url(img/bg_index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    padding: 0;
}

.proyecto h2 {
    color: var(--primario);
}

.proyecto a {
    color: var(--nar-contrBlanco);
    font-size: larger;
}

.proyecto h1 {
    color: var(--nar-contrAzul);
    margin-bottom: 3rem;
}

.objetivos {
    display: block;
    width: 60%;
    margin: auto;
    background-color: var(--blanco-rgb);
    padding: 1rem 4rem;
    border-radius: 2%;
    font-style: italic;
    color: black;
}

.index h2 {
    color: var(--nar-contrBlanco);
}

.index h2:last-of-type {
    color: var(--nar-contrAzul);
}

.contactar a {
    font-size: 1.8rem;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.contactar a:hover {
    color: var(--primario);
    font-weight: 600;
}


/* PAG. INDEX - Ejes */
.empresa__ejes--contenedor {
    display: block;
}

.ejes {
    background-color: var(--blanco-alternativo);
    padding: 2rem 4rem;
    border-radius: 2%;
}

.ejes h3 {
    color: var(--nar-contrAzClaro);
}

.empresa__ejes p {
    margin: 0.5rem auto 2rem auto;
}

@media (max-width: 768px) {
    .ejes h2 {
        font-size: 3rem;
    }

    .ejes h3 {
        font-size: 2rem;
    }
}

/* PAG. INDEX - Servicios */
.servicio__ofrecido {
    display: block;
    width: 80%;
    margin: auto;
}

.servicio {
    background-color: var(--primario);
    margin: 2rem auto;
    padding: 1rem 4rem;
    border-radius: 2%;
}

.servicio h3 {
    color: var(--nar-contrAzul);
    padding-top: 2rem;
}

.servicio__icono {
    display: none;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background: var(--blanco);
    justify-content: center;
    align-items: center;
}

.servicio__icono svg {
    width: 40px;
    height: 40px;
    color: var(--primario);
}

.servicio p {
    color: var(--blanco);
}

@media (min-width: 1050px) { 
    .servicio__ofrecido {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
    }

    .servicio__icono {
        display: flex;
        margin-top: 2rem;
    }
}

/* PAG. INDEX - Profesionales */
.equipo--index {
    color: var(--primario);
}

.equipo--index h3 {
    padding-bottom: 1rem;
    color: var(--nar-contrBlanco);
}

.profesional__contenedor {
    width: 80%;
    margin: auto;
}

.profesionales {
    display: block;
    width: 80%;
    margin: auto;
}

.profesional__tarjeta {
    background-color: var(--blanco-alternativo);
    margin: 2rem auto;
    border-radius: 2%;
    padding: 2rem 4rem;
}

.profesional__tarjeta img, .profesional img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media (min-width: 1050px) {
    .profesionales {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5rem;
        width: 90%;
        margin: auto;
    }

    .profesional__tarjeta {
        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: center;
        column-gap: 5rem;
    }

    .profesional__tarjeta h3 {
        grid-column: 1;
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }

    .profesional__tarjeta img {
        grid-column: 1;
      }

    .profesional__tarjeta p {
        grid-column: 2;
        text-align: left;
    }
}


/* PAG. INDEX - Contacto */
.contacto {
    background-image: url(img/bg_index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid__contacto {
    display: block;
    margin-bottom: 2rem;
}

.formulario__header p {
    color: var(--blanco);
}

.contacto__titulo {
    padding: 6rem 0 2rem 0;
    color: var(--nar-contrAzul);
}

.precios h3 {
    color: var(--nar-contrAzClaro);
}

.formulario__contenedor {
    margin: auto;
    max-width: 1000px;
}

.formulario {
    background-color: var(--blanco-rgb);
    margin: 0 4rem;
    padding: 2rem 4rem;
    border: 3px solid var(--nar-contrBlanco);
    border-radius: 2%;
}

fieldset {
    border: 2px solid var(--blanco);
    border-radius: 2%;
}

.campo__field {
    height: 1rem;
    border: 1px solid var(--nar-contrBlanco);
    border-radius: 2%;
    padding: 0.3rem;
    background-color: var(--blanco);
    font-family: inherit;
}

.campo__field--provinc {
    border: 1px solid var(--nar-contrBlanco);
    background-color: var(--blanco);
    border-radius: 2%;
    padding: 0.3rem;
    font-family: inherit;
}

.espacio-campos--radio {
    margin: 0;
}

.espacio-campos--observaciones {
    margin: 1rem auto 2rem auto;
}

@media (min-width: 768px) {
    .formulario {
        max-width: 70%;
        margin: auto;
    }
    
    .espacio-campos {
        display: inline-block;
        margin: 0.5rem 1rem;
    }

    .grid__contacto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .espacio-campos--observaciones textarea {
        width: 350px;
        height: 50px;
    }

    .espacio-campos--observaciones label {
        display: inline;
    }

    .espacio-campos--radio {
        display: inline;
    }

    #terminos {
        height: 2rem;
        width: 2rem;
    }
}

.metodo__contacto {
    width: 80%;
    margin: 3rem auto auto auto;
}

.icono svg {
    width: 30px;
    height: 30px;
    color: var(--nar-contrAzul);

}

.info__contacto {
    margin: auto;
    width: 70%;
}


/* PAG. PROYECTO -- Intro nav secundaria*/
.proyecto__intro {
    background-color: var(--primario);
    color: var(--blanco);
}

.reclamo {
    color: var(--nar-contrAzul);
}

.reclamo_subtitulo {
    width: 75%;
    margin: auto;
    color: var(--blanco);
    font-style: italic;
    padding: 3rem 0rem 5rem 0rem;
    border-bottom: 1px solid var(--azul_claro);
}

.proyecto__intro ul {
    list-style: none;
    font-style: italic;
    padding: 1rem 0;
    line-height: 3;
}

.proyecto__intro li {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.proyecto__intro li:hover {
    background: var(--hover-nav);
    color: var(--primario);
}

.proyecto__intro a {
    color: inherit;
    display: block;
}

/* PAG. PROYECTO -- #motivación y #ayuda */
#motivacion h2, #expertos h2, #filosofia h2, #ayuda h2 {
    color: var(--nar-contrBlanco);
}

.proyecto__motivacion-contenedor, .proyecto__ayuda-contenedor {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 6rem;
    align-items: center;
}

.proyecto__motivacion-contenedor img, .proyecto__ayuda-contenedor img {
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    height: auto;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.proyecto__motivacion-texto, .proyecto__ayuda-texto {
    grid-column: 2;
    text-align: left;
}

.proyecto__ayuda-texto ul {
    padding: 0;
    margin: 0;
}

.proyecto__ayuda-texto li {
    padding-bottom: 1rem;
}

@media (max-width: 1100px) {
    .proyecto__motivacion-contenedor img, .proyecto__ayuda-contenedor img {
        display: none;
    }

    .proyecto__motivacion-contenedor, .proyecto__ayuda-contenedor {
        display: flex;
        flex-direction: column;
    }

    .proyecto__motivacion-texto, .proyecto__ayuda-texto {
        text-align: center;
    }
    .proyecto__ayuda-texto ul {
        list-style: none;
    }
}


/* PAG. PROYECTO -- Sección #expertos */
.proyecto__expertos-contenedor {
    width: 80%;
}

.proyecto__expertos-contenedor iframe {
    width: 100%;
    max-width: 700px;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    border: none;
    margin: auto;
}

/* PAG. PROYECTO -- #filosofia */
.proyecto__filosofia {
    width: 100%;
    flex-direction: column;
}

.proyecto__contenidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto__filosofia-contenedor img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    box-shadow: none;
}

.proyecto__filosofia-texto {
    display: none;
    margin: 0 auto;
    text-align: left;
}

.proyecto__filosofia-texto h4 {
    color: var(--primario);
}

.proyecto__filosofia-texto li {
    list-style: none;
}

@media (max-width: 903px) {
    .proyecto__filosofia-contenedor img {
        display: none;
    }

    .proyecto__filosofia-texto {
        display: block;
        width: 85%;
    }

    #filosofia {
    padding: 6rem 0 6rem 0;
    }
}

/* PAG. NOSOTROS */
#titulo__nosotros {
    color: var(--nar-contrBlanco);
    margin: 5rem 0rem 4rem 0rem;
}

.equipo h2 {
    color: var(--nar-contrAzClaro);
    padding-top: 2rem;
}

.equipo-nosotros {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 4rem;
    width: 100%;
    margin: auto;
}

.profesional {
    background-color: var(--blanco-alternativo);
    border-radius: 2%;
}

.curriculum span {
    font-weight: bold;
}

.curriculum {
    text-align: left;
    padding: 3rem 2rem;
}

.lema {
    font-style: italic;
    text-align: center;
    width: 60%;
    margin: 3rem auto;
}

.profesional__perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.profesional__perfil > *:nth-child(2n) {
    border-left: 1px solid var(--primario);
    padding-left: 3rem;
}

.formacion {
    text-align: right;
}

.profesional__perfil li {
    list-style: none;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.especialidad ul {
    padding-left: 0px;
}

@media (max-width: 903px) {
    .profesional__perfil {
        display: block;
        margin: 0 auto;
        width: fit-content;
    }

    .profesional__perfil > *:nth-child(2n) {
        border-left: none;
    }

    .formacion {
        text-align: left;
    }

    .formacion span {
        padding-left: 3rem;
    }

    .profesional__perfil li {
        list-style: circle;
    }
}

/* PAG. SERVICIOS - Estructura layout contenido/aside */
@media (min-width: 488px) {
    .input__icono-desplegable {
        display: none;
    }

    .desplegable {
        position: fixed;
        right: 20px;
        top: 125px;
        z-index: 1000;
    }

    .icono__desplegable {
        width: 50px;
        background-color: var(--nar-contrAzul);
        padding: 0.5rem 0rem;
        margin: 0rem;
        border: none;
        border-radius: 5%;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .layout__aside {
        position: absolute;
        right: 0;
        top: 0; /* PAra que empiece detrás del icono */
        background-color: var(--nar-contrAzul);
        padding: 1.5rem;
        font-size: 1.2rem;
        width: 300px;
        /* Estilos para desplegable */
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.4s ease;
        z-index: 1; /* Menos que el icono */
    }

    .input__icono-desplegable:checked ~ .layout__aside {
        max-height: 1500px;   /* más que la altura del contenido */
        opacity: 1;
    }


    /* Contenido aside */
    .aside__contacto {
        display: flex;
        gap: 15%;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .aside__titulo {
        font-size: 2.4rem;
        color: var(--primario);
        margin: 1.5rem 0rem 0rem 0rem;
    }

    .curso__titulo {
        font-weight: 600;
    }

    .layout__aside p, .curso__titulo {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .aside__contacto--icono {
        width: 20px;
        height: auto;
    }

    .aside__contacto--icono svg {
        transition: color 0.3 ease;
        color: var(--primario);
    }

    .aside__contacto--icono svg:is(:hover, .active) {
        color: var(--blanco);
    }

    .formacion__curso {
        background: var(--blanco-tabla);
        border-radius: 2%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .formacion__curso p {
        margin: 0.5rem;
    }
}

/* PÁG. SERVICIOS -- Catálogo */
.servicios__catalogo h1 {
    color: var(--nar-contrAzul);
    padding-top: 5rem;
}

.servicios__lista h2 {
    color: var(--nar-contrBlanco);
    margin: 2rem;
}

.servicios__catalogo--contenedor {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding-bottom: 5rem;
}

.servicios__catalogo {
    background-color: var(--primario);
}

.servicios__tarjeta {
    background-color: var(--blanco);
    color: var(--primario);
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem auto 4rem auto;
    grid-template-rows: auto 1fr;
    gap: 5rem;
}

.servicios__tarjeta img {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.servicios__tarjeta ul {
    text-align: left;
}

.servicios__lista li {
    padding-bottom: 1rem;
    line-height: 1.2;
}

@media (min-width: 950px) {
    .servicios__catalogo--contenedor {
        grid-template-columns: repeat(3, 3fr);
        column-gap: 5rem;
        width: 85%;
    }

    .servicios__tarjeta {
        margin: 4rem auto;
    }

    .servicios__tarjeta img {
        max-width: 200px;
    }
}

.contacto_servicios {
    background-color: var(--blanco);
    padding: 3rem 0;
}

@media (max-width: 1050px) {
    .icono__desplegable {
        opacity: 0.6;
        transition: opacity 0.3s ease;
    }

    .icono__desplegable:hover {
        opacity: 1;
    }
}


/* PÁG. SERVICIOS -- Precios */
.precios {
    background-color: var(--azul_claro);
}

h2.precios__titulo {
    color: var(--nar-contrBlanco);
}

.precios h3 {
    margin: 10rem 0rem 5rem 0rem;
}

.precios p {
    color: var(--primario);
}

.precios__contenedor {
    width: 80%;
    margin: auto;
}

.precios__tabla, .precios__tabla th, td {
    margin: auto;
    padding: 0.5rem 1rem;
    border: 2px solid var(--blanco);
    border-radius: 1%;
    border-collapse: collapse;
}

.precios__razones {
    margin-bottom: 5rem;
    text-align: left;
}

.precios__razones span {
    font-weight: bold;
}

.precios__razones li {
    padding-bottom: 1.5rem;
}

.precios__razones li:last-of-type {
    padding-bottom: 0rem;
}

.razones__iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    color: var(--primario);
    margin-bottom: 15rem;
}

.razones__iconos div {
    transition: transform 0.3s ease;
}

.razones__iconos div:hover {
    transform: translateY(-5px); /* Luego lo hereda el svg*/
}

.razones__iconos svg {
    width: 7rem;
    height: 7rem;
    transition: inherit;
}

@media (max-width: 350px) {
    .razones__iconos {
        display: none;
    }
}

/* PÁG. SERVICIOS -- Cursos*/
h2.formaciones {
    color: var(--nar-contrBlanco);
}

.formaciones__contacto {
    display: flex;
    gap: 15%;
    justify-content: center;
    margin: 3rem auto 8rem auto;
}

.formaciones__contacto--icono {
        width: 40px;
        height: 40px;
}

.formaciones__contacto--icono svg {
    transition: color 0.3s ease, width 0.3s ease;
    color: var(--primario);
}

.formaciones__contacto--icono svg:is(:hover, .active) {
    color: var(--nar-contrAzul);
    width: 45px;
}

.cursos {
    margin-bottom: 10rem;
}

.cursos__bloque {
    display: flex;
    flex-direction: row;
    background-color: var(--blanco-alternativo);
    border-radius: 2%;
    width: 60%;
    margin: 5rem auto;
    padding: 2rem 3rem;
}

.cursos__img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.cursos__descripcion {
    text-align: left;
    padding-left: 3rem;
    line-height: 1;
}

.cursos__titulo {
    font-weight: bold;
}


/* Términos y condiciones */
.condiciones__pagina {
    width: 80%;
    margin: 4rem auto;
}

.condiciones__titulo {
    font-size: 2.5rem;
}

.condiciones__apartado {
    font-size: 1.5rem;
    margin: 3rem 0rem 0rem 0rem;
}

.nombre-empresa {
    font-weight: 600;
}